// Custom.scss
$primary: #4db6ac;
$secondary: #b2dfdb;
$tertiary: #00695c;
$gold: #B99D75;

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/slick-carousel/slick/slick';
@import '../../node_modules/slick-carousel/slick/slick-theme';

@import "design/fonts";
@import "design/menu";
@import "design/animations";
@import "design/footer";

@import "design/home/essentials";
@import "design/home/preview";
@import "design/home/review";
@import "design/home/discover";
@import "design/home/accommodation";

.main-content {
  min-height: 800px;
}


.nav-item .nav-link {
  color: white;
  font-family: 'LaBelleAurore', Arial, sans-serif;
  font-size: 32px;

  &:not(.active):hover {
    color: var(--bs-nav-link-color);
  }
}

.navbar {
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white;
  }
  .navbar-toggler {
    color: white;
    border: white solid 1px !important;
  }
}

/**
 * IMAGES ZOOM AND OFFSET BORDER
 */
.image-zoom {
  overflow: hidden;

  img {
    transition: transform 0.5s;

    &:hover {
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1);
    }
  }

  .overlay-label {
    position: absolute;
    bottom: 30px;
    left: -20px;
    padding: 15px 50px;
    background: black;
    color: white;
    width: fit-content;
    max-width: calc(100% - 20px);
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
  }

  .offset-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $gold;
    transform: translate(-10px, -10px);
    transition: all 0.3s;
    will-change: transform, width, height;
    box-sizing: border-box;
  }

  &:hover {
    //cursor: pointer;
    .overlay-label {
      background: $gold;
    }
    .offset-border {
      transform: translate(+10px, +10px);
      width: calc(100% - 20px);
      height: calc(100% - 20px);
    }
    img{
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1);
    }
  }
}

/**
 * Font style
 */

.title-2 {
  font-family: Marcellus, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.title-4 {
  font-family: Jost, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #53624e;
  text-transform: uppercase;
}

p {
  font-family: Jost, sans-serif;
  font-size: 18px;
  font-weight: 40;
}