// Custom.scss
$primary: #4db6ac;
$secondary: #b2dfdb;
$tertiary: #00695c;
$gold: #B99D75;

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/slick-carousel/slick/slick';
@import '../../node_modules/slick-carousel/slick/slick-theme';

@import "design/fonts";
@import "design/menu";
@import "design/animations";
@import "design/footer";

@import "design/home/essentials";
@import "design/home/preview";
@import "design/home/review";

.main-content {
  min-height: 800px;
}


.nav-item .nav-link {
  color: white;
  font-family: 'LaBelleAurore', Arial, sans-serif;
  font-size: 32px;

  &:not(.active):hover {
    color: var(--bs-nav-link-color);
  }
}

.navbar {
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white;
  }
  .navbar-toggler {
    color: white;
    border: white solid 1px !important;
  }
}

.image-zoom {
  overflow: hidden;

  img {
    transition: transform 0.5s;

    &:hover {
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1);
    }
  }
}

/**
 * Titles
 */

.title-2 {
  font-family: Marcellus, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.title-4 {
  font-family: Jost, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #53624e;
}