.contact-panel {
  display: flex;
  align-content: center;
  align-items :center;
  padding: 7vw 7vw 7vw 7vw;

  .form-contact {
    width: 100%;
    background-color: #FFFFFF;
    padding: 4vw 4vw 4vw 4vw;
  }
}

.informations {
  padding: 15%;
}