.menu {
  //background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  //        rgba(0, 0, 0, 0.5)), url("../img/banner.jpg");
  //height: max-content;
  //padding: 50px;

  .react-parallax {
    padding: 0px !important;
  }

  .desktop-menu {
    &.fixed {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
      background-color: rgba(0,0,0,.5);
      padding-left: 15%;
      padding-right: 15%;
      max-width: none;

      .nav-item {
        //margin: auto;

        .nav-link {
          font-size: 28px;
        }
      }
    }
  }

  .header {
    height: 800px;

    .header-subtitle,
    .header-description {
      font-family: Jost, sans-serif;
      font-size: 18px;
      font-weight:400;
      max-width: 600px;
    }

    .header-title {
      font-family: Marcellus, serif;
      font-size: 80px;
      font-style: normal;
      font-weight: 400;
      max-width: 600px;
    }
  }
}

.react-parallax-bgimage {
  filter: brightness(0.5) !important;
}